<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Responsive Surface</title>
	<link rel="stylesheet" href="css/reset.css">
<!-- 	<link rel="stylesheet" href="css/fonts.css">
	<link rel="stylesheet" href="css/styles.css"> -->
	<link rel="stylesheet" href="css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="js/tmpl.js"></script>
	<script src="js/advantages.js"></script>
</head>
<body>
	<header class="ending ending_header">
		<div>
			<img class="ending__logo_header" src="img/header/logo.png" alt="">
		</div>
		<div class="ending__slogan ending__slogan_header clearfix">
			<p>Be recruited</p>
			<p>Play college sports</p>
		</div>
		<button class="button button_header button-apple">Download on the app store</button>
		<button class="button button_header button-google">Get it on google play</button>
		<ul class="links">
			<li class="links__item"><a class="links__link" href="">football</a></li>
			<li class="links__item"><a class="links__link" href="">bascketball</a></li>
			<li class="links__item"><a class="links__link" href="">baseball</a></li>
			<li class="links__item"><a class="links__link" href="">soccer</a></li>
			<li class="links__item"><a class="links__link" href="">ice hockey</a></li>
		</ul>
	</header>
	<article class="article article_background_padding_margin_none">
		<img class="article__image" src="img/opportunities/1.jpg" alt="img/opportunities/1.jpg">
		<div class="count-number count-number_position_absolute">01</div>
		<section class="section section_background_underline">
			<h3 class="section__header section__header_color">Be active</h3>
			<p class="section__text">Post videos with your skills, Like and follow others to be more popular.</p>
		</section>
	</article>
	<article class="article article_background_padding_margin_none">
		<img class="article__image" src="img/opportunities/2.jpg" alt="img/opportunities/2.jpg">
		<div class="count-number count-number_position_absolute">02</div>
		<section class="section section_background_underline">
			<h3 class="section__header section__header_color">FIND CONTACT</h3>
			<p class="section__text">Contact others to find right coach or athlete you are looking for.</p>
		</section>
	</article>
	<article class="article article_background_padding_margin_none">
		<img class="article__image" src="img/opportunities/3.jpg" alt="img/opportunities/3.jpg">
		<div class="count-number count-number_position_absolute">03</div>
		<section class="section section_background_underline">
			<h3 class="section__header section__header_color">WORK IT</h3>
			<p class="section__text">Enjoy being a student athlete, the recruiting process can be overwhelming, we want to make this a enjoyable experience.</p>
		</section>
	</article>
	<footer class="ending ending_footer">
		<div>
			<img class="ending__logo_footer" src="img/footer/logo.png" alt="">
		</div>
		<div class="ending__slogan ending__slogan_footer clearfix">
			<p>download app</p>
			<p>Show everyone what yu can do!</p>
		</div>
		<button class="button button_footer button-apple">Download on the app store</button>
		<button class="button button_footer button-google">Get it on google play</button>
		<div class="social">
			<a href="" class="social__item social__item_facebook"></a>
			<a href="" class="social__item social__item_twitter"></a>
			<a href="" class="social__item social__item_instagram"></a>
		</div>
	</footer>
	<script type="html/template" id="advantages">
		<article class="article" id="advantage-item">
			<h3 class="article__header"><%= name %></h3>
			<img class="article__image" src=<%= image  %> alt="<%= image %>">
				<section class="section">
					<div class="count-number"><%= number %></div>
					<h4 class="section__header"><%= header %></h4>
					<p class="section__text"><strong><%= paragraph %></strong></p>
				</section>
				<div class="switcher">
					<ul class="switcher__container">
						<li class="switcher__item"></li>
						<li class="switcher__item"></li>
					</ul>
				</div>
		</article>
		
	</script>

	<script src="js/script.js"></script>
</body>
</html>