* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
}

.empty {
  height: 1500px;
  width: 100%;
}

.wrapper {
  display: inline-block;
  width: 100%;
  background: linear-gradient(to top, white, blue);
  height: 4000px;
  position: relative;
}

section {
  width: 470px;
  float: left;
  margin-left: 150px;
  padding: 100px;
  background-color: yellow;
}

aside {
  width: 200px;
  padding: 50px 35px;
  background: red;
  font-size: 20px;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  margin: 0;
  top: initial;
}

.fixed-top {
  position: fixed;
  top: 0;
  margin: 0;
  bottom: initial;
}

.absolute {
  position: absolute;
  margin: 0;
  bottom: initial;
}
