.howitworks {
	overflow: hidden;
	text-align: center;
	padding-top: 40px;
	width: 320px;
	margin: 0 auto;

	@include breakpoint(tablet) {
		width: 768px;
	}
}

.howitworks__header {
	@include font('Montserrat Bold', 22px, #333333);
	padding-bottom: 15px;
	@include breakpoint(tablet) {
		padding: 100px 0 33px;
	}
}
