.ideas {
	text-align: center;
}

.ideas__header {
	@include font('Montserrat Bold', 22px, #333333);
	padding: 40px 0 15px 0;
	@include breakpoint(tablet) {
		padding: 0 0 40px 0;
	}
}

/*.ideas__item {
	position: relative;
	height: 130px;
	overflow: hidden;
}

.ideas__item::after {
	@include vertical-align;
}

.ideas__image {
	position: absolute;
	z-index: -1;
	left: 3%;
	width: 300px;
	height: auto;
}

.ideas__text {
	@include font('Montserrat Bold', 22px, #000000);
	display: inline-block;
}*/