.partners {
	text-align: center;
	padding-bottom: 100px;
}

.partners__list {
	overflow: hidden;

	@include breakpoint(tablet) {
		width: 550px;
		margin: 0 auto;
	}
}

.partners__header {
	@include font('Montserrat Bold', 22px, #333333);
	padding-bottom: 13px;
	padding: 38px 0 13px 0;
	
	@include breakpoint(tablet) {
		width: 768px;
		margin: 0 auto;
		padding-bottom: 33px;
	}
}

.partners__item {
	padding: 0 50px;
	width: 320px;	
	margin: 0 auto;

	@include breakpoint(tablet) {
		width: 50%;
		float: left;
	}
}

.partners__image-container {
	display: inline-block;
	position: relative;
}

.partners__image {
	border-radius: 50%;
	margin: 0 auto;
}

.partners__type {
	position: absolute;
	z-index: 2;
	right: 0;
	bottom: 0;
}

.partners__name {
	@include font('Montserrat Bold', 14px, #333333);
	padding: 15px 0 20px 0;
}

.partners__about {
	@include font('Roboto Light', 14px, #666666);
	padding-bottom: 29px;
}

.partners__more {
	@include font('Montserrat Bold', 14px, #ff4e50);
	width: 280px;
	height: 36px;
	border: 2px solid #ff4e50;
	border-radius: 20px;
	display: block;	
	margin: 0 auto;
}

.partners__more::after {
	@include vertical-align;
}