@font-face {
    font-family: 'ProximaNova Bold';
    src: url('../fonts/ProximaNova Bold/proximanova-bold-webfont.eot');
    src: url('../fonts/ProximaNova Bold/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova Bold/proximanova-bold-webfont.woff2') format('woff2'),
         url('../fonts/ProximaNova Bold/proximanova-bold-webfont.woff') format('woff'),
         url('../fonts/ProximaNova Bold/proximanova-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova Light';
    src: url('../fonts/ProximaNova Light/proximanova-light-webfont.eot');
    src: url('../fonts/ProximaNova Light/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova Light/proximanova-light-webfont.woff2') format('woff2'),
         url('../fonts/ProximaNova Light/proximanova-light-webfont.woff') format('woff'),
         url('../fonts/ProximaNova Light/proximanova-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'ProximaNova SemiBold';
    src: url('../fonts/ProximaNova SemiBold/proximanova-semibold-webfont.eot');
    src: url('../fonts/ProximaNova SemiBold/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova SemiBold/proximanova-semibold-webfont.woff2') format('woff2'),
         url('../fonts/ProximaNova SemiBold/proximanova-semibold-webfont.woff') format('woff'),
         url('../fonts/ProximaNova SemiBold/proximanova-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova Regular';
    src: url('../fonts/ProximaNova Regular/proximanova-regular-webfont.eot');
    src: url('../fonts/ProximaNova Regular/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova Regular/proximanova-regular-webfont.woff2') format('woff2'),
         url('../fonts/ProximaNova Regular/proximanova-regular-webfont.woff') format('woff'),
         url('../fonts/ProximaNova Regular/proximanova-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}