@font-face {
    font-family: 'Lucida Sans Unicode Regular';
    src: url('../fonts/Lucida/lucida_sans_unicode_regular-webfont.eot');
    src: url('../fonts/Lucida/lucida_sans_unicode_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lucida/lucida_sans_unicode_regular-webfont.woff2') format('woff2'),
         url('../fonts/Lucida/lucida_sans_unicode_regular-webfont.woff') format('woff'),
         url('../fonts/Lucida/lucida_sans_unicode_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Regular';
    src: url('../fonts/Arial/arialregular-webfont.eot');
    src: url('../fonts/Arial/arialregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Arial/arialregular-webfont.woff2') format('woff2'),
         url('../fonts/Arial/arialregular-webfont.woff') format('woff'),
         url('../fonts/Arial/arialregular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Black';
    src: url('../fonts/Arial Black/arialblack-webfont.eot');
    src: url('../fonts/Arial Black/arialblack-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Arial Black/arialblack-webfont.woff2') format('woff2'),
         url('../fonts/Arial Black/arialblack-webfont.woff') format('woff'),
         url('../fonts/Arial Black/arialblack-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Italic';
    src: url('../fonts/Arial Italic/arialitalic-webfont.eot');
    src: url('../fonts/Arial Italic/arialitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Arial Italic/arialitalic-webfont.woff2') format('woff2'),
         url('../fonts/Arial Italic/arialitalic-webfont.woff') format('woff'),
         url('../fonts/Arial Italic/arialitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Arial Bold Italic';
    src: url('../fonts/Arial Italic/arialitalic-webfont.eot');
    src: url('../fonts/Arial Italic/arialitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Arial Italic/arialitalic-webfont.woff2') format('woff2'),
         url('../fonts/Arial Italic/arialitalic-webfont.woff') format('woff'),
         url('../fonts/Arial Italic/arialitalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

.wrapper {	
	width: 909px;
	margin: 17px auto;
}

.top_string_wrapper {
	height: 27px;
	width: 100%;
	font-family: "Arial Regular";
	padding: 4px 0 0 4px;
}

.top_string_wrapper>img,
.top_string_wrapper>form>img,
.top_string_wrapper span {
	color: #5e696d;
	font-size: 18px;
	float: left;
	letter-spacing: 0.025em;
	line-height: 22px;
	padding: 4px 1px 0 2px;
}

.top_string_wrapper>form {
	float: left;
	width: 479px;
	height: 20px;
	background: linear-gradient(to bottom, #1f6787, #0c3357);
	border-radius: 3px;
	box-shadow: 2px 1px 4px #596d80; 
	padding: 3px 10px 4px 4px;
	margin-left: 16px;
	letter-spacing: -1px;
}

.top_string_wrapper>form>img {
	padding-top: 3px;
	margin-right: 3px;
}

.top_string_wrapper input[type="text"],
.top_string_wrapper input[type="password"] {
	width: 111px;
	height: 14px;
	font-size: 11px;
	color: #97a2a6;
	padding: 3px 0 0 3px;
	border:none;
	margin:0 3px 0 0;
	font-family: "Lucida Sans Unicode Regular";
	box-shadow: 1px 1px 2px -1px #596d80 inset; 
	border-radius: 1px;
	letter-spacing: 0.025em;
}

.top_string_wrapper a {
	text-decoration: none;
	color: #fff;
	line-height: 6px;
	font-size: 11px;
	margin-left: 2px;
	font-family: "Lucida Sans Unicode Regular";
	letter-spacing: 0;
}

.top_string_wrapper>form>span {
	float: none;
	color: #fff;
	margin-left: -2px;
	vertical-align: middle;
	line-height: 6px;
	font-size: 10px;
}

.top_string_wrapper a:last-child {
	text-decoration: underline;
	color: #bfbfbf;
	font-size: 12px;
}

.top_string_wrapper .icons_nav {
	height: 19px;
	width: 75px;
	border: 1px solid #d3d8da;
	border-radius: 10px;
	box-shadow: 1px 1px 1px 1px #d3d8da;
	float: right;
	margin: 1px 10px 0 0;
}

.top_string_wrapper .icons_nav img {
	margin: 4px 0 0 7px;
}

.header_banner {
	margin: 9px 0 3px 0;
}

.top_nav {	
	height: 26px;
	width: calc(100% - 123px);
	border-top: 1px	solid #2c345a;
	border-right: 1px solid #0d1642;
	border-bottom: 1px solid #0a1030;
	border-left: 1px solid #1d2337;
	border-radius: 4px;
	background: linear-gradient(to bottom, #4d5663, #010101);
	padding: 3px 0 3px 124px;
	letter-spacing: -1px;
	font-size: 0;
	box-shadow: 1px 1px 2px 0 #1d2337;
	margin-bottom: 12px;
}

.top_nav ul,
.top_nav ul li {
	display: inline-block;
}

.top_nav ul {
	width: 500px;
}

.top_nav ul li a {
	display: block;
	height: 11px;
	border-radius: 11px;
	font-size: 14px;
	font-family: "Lucida Sans Unicode Regular";
	color: #b1bcc0;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: -0.021em;
}

.top_nav ul li:nth-child(1) a {
	padding: 6px 18px 8px 21px;
}

.top_nav ul li:nth-child(2) a {
	padding: 6px 15px 8px 17px;
}
.top_nav ul li:nth-child(3) a {
	padding: 6px 15px 8px 15px;
}

.top_nav ul li:nth-child(4) a {
	padding: 6px 13px 8px 16px;
}

.top_nav ul li:nth-child(5) a {
	padding: 6px 14px 8px 13px;
}

.top_nav ul li a:hover {
	background: linear-gradient(to bottom, #1f6787, #0c3357);
	color: #fff;
}

.top_nav>a {
	float: right;
	margin-top: 4px;
	padding-right: 8px;
}

.top_nav>span {
	letter-spacing: 0.04em;
	font-family: "Arial Regular";
	font-size: 11px;
	color: #929b9f;
	margin-top: 9px;
	float: right;
	line-height: 7px;
}

.top_nav>span:nth-child(2) {
	padding-right: 13px;
	font-size: 12px;
	color: #0d5a8f;
	line-height: 8px;
	padding-left: 10px;
}

.top_nav>span:nth-child(3) {
	font-size: 11px;
}

.top_nav>span:nth-child(4) {
	padding-right: 13px;
	color: #0d5a8f;
	font-size: 12px;
	line-height: 8px;
	padding-left: 2px;
}

.top_nav>span:nth-child(10) {
	padding-right: 13px;
	font-size: 12px;
	color: #0d5a8f;
	line-height: 8px;
	padding-left: 13px;
}

main {
	overflow: hidden;
}

.brand_filter,
.tyre_filter,
.rim_filter{
	border: 1px solid #b8b8b9;
	height: 132px;
	position: relative;
	letter-spacing: -1px;
	float: left;
	border-radius: 16px;
	box-shadow: 2px 2px 5px 0 #999999;
}

.brand_filter {
	width: 413px;
	margin-left: 6px;
}

.brand_filter>header {
	color: #154467;
	font-size: 12px;
	position: absolute;
	left: 126px;
	top: -1px;
	font-weight: 500;
	font-family: "Arial Black";
	letter-spacing: .022em;
}

.brand_filter_form>.right_column,
.brand_filter_form>.left_column {
	float: left;
	margin: 1px 0 0 17px;
	width: 177px;
}

.right_column>li,
.left_column>li {
	font-family: "Arial Regular";
	letter-spacing: 0.015em;
	line-height: 10px;
}

.right_column>li:first-child,
.left_column>li:first-child {
	font-weight: 400;
	font-family: "Arial Black";
	color: #154467;
	font-size: 10px;
	letter-spacing: .022em;
	margin: 5px 0 5px 3px;
}

.right_column>li:nth-child(2n),
.left_column>li:nth-child(2n) {
	width: 71px;
	float:left;
	font-size: 10px;
	margin-top: 1px;
	clear: both;
	margin-right: 5px;
}

.right_column>li:first-child {
	margin: 5px 3px 5px 0;
	float: right;
}

.left_column>li:nth-child(2n)>span>p,
.right_column>li:nth-child(2n)>span>p {
	color: #77858b;
	font-size: 9px;
}

.left_column>li:nth-child(2n)>span>span,
.right_column>li:nth-child(2n)>span>span {
	color: #77858b;
	font-size: 8px;
}

.right_column>li:nth-child(2n+3) select,
.left_column>li:nth-child(2n+3) select {
	width: 101px;
}

.right_column>li:nth-child(7) select,
.left_column>li:nth-child(7) select {
	width: 58px;
}

.brand_filter_form a {
	clear: both;
	float: right;
	color: #154467;
	font-family: "Arial Italic";
	font-size: 14px;
	margin-right: 29px;
}

.tyre_filter {
	width: 191px;
	margin-left: 14px;
}

.tyre_filter>.tyre_column>li {
	display: inline-block;
}

.tyre_filter>.tyre_column>li:first-child {
	display: block;
}

.tyre_filter>.tyre_column>li>header {
	font-family: "Arial Black";
	font-size: 12px;
	color: #114165;
	margin: 0 0 8px 10px;
}

.tyre_filter>.tyre_column>li:nth-child(2)>span {
	font-family: "Lucida Sans Unicode Regular";
	font-size: 10px;
	height: 6px;
	margin: 0 1px 0 14px;
	letter-spacing: 0;
}

.tyre_filter>.tyre_column>li:nth-child(3) select,
.tyre_filter>.tyre_column>li:nth-child(4) select {
	width: 52px;
	margin-bottom: 7px;
	height: 17px;
	padding: 0;
}

.tyre_filter>.tyre_column>li:nth-child(4) select {
	margin-right: 20px;
}

.tyre_filter>.tyre_column>li:nth-child(5)>span {
	font-family: "Arial Regular";
	font-size: 11px;
	padding: 0 2px 0 44px;
}

.tyre_filter>.tyre_column>li:nth-child(6)>select {
	width: 45px;
	margin-right: 65px;
	padding: 0;
	height: 17px;
}

.tyre_filter>.tyre_column>li:nth-child(7)>span {
	margin-left: 13px;
	font-family: "Lucida Sans Unicode Regular";
	font-size: 10px;
	float: left;
	letter-spacing: 0;
}

.tyre_filter>.tyre_column>li:nth-child(8) {
	margin: 0 50px 0 10px;
}

.tyre_filter>.tyre_column>li:nth-child(9),
.tyre_filter>.tyre_column>li:nth-child(10) {
	margin-left: 58px;
	float: left;
}

.tyre_filter>.tyre_column>li:nth-child(8) input,
.tyre_filter>.tyre_column>li:nth-child(9) input,
.tyre_filter>.tyre_column>li:nth-child(10) input {
	margin: 0;
	height: 10px;
}

.tyre_filter>.tyre_column>li:nth-child(8) span,
.tyre_filter>.tyre_column>li:nth-child(9) span,
.tyre_filter>.tyre_column>li:nth-child(10) span {
	font-family: "Lucida Sans Unicode Regular";
	font-size: 10px;
	letter-spacing: 0;
}

.tyre_filter a {
	clear: both;
	float: right;
	color: #154467;
	font-family: "Arial Italic";
	font-size: 14px;
	margin-right: 29px;
}

.rim_filter {
	width: 266px;
	margin-left: 10px;
}

.rim_filter header {
	font-family: "Arial Black";
	font-size: 12px;
	color: #114165;
	letter-spacing: 0.07em;
	position: absolute;
	left: 8px;
	top: 3px;
}

.rim_filter_names {
	width: 91px;
	margin: 25px 0 0 15px;
	height: 100%;
	font-family: "Lucida Sans Unicode Regular";
	letter-spacing: 0.05em;
	float: left;
}

.rim_filter_names p {
	font-size: 10px;
	line-height: 9px;
}

.rim_filter_names p:nth-child(2) {
	margin: 7px 0 3px 0;
}

.rim_filter_names p span {
	font-size: 9px;
	color: #77858b;
}

.rim_filter_dropdowns {
	height: 100%;
	width: 70px;
	float: left;
	font-family: "Lucida Sans Unicode Regular";
}

.rim_filter_dropdowns select {
	display: block;
	padding: 0;
}

.rim_filter_dropdowns select:nth-child(1) {
	margin-top: 20px;
	width: 57px;
}

.rim_filter_dropdowns select:nth-child(2) {
	margin: 15px 0;
	width: 50px;
}

.rim_filter_dropdowns select:nth-child(3) {
	width: 57px;
}

.rim_filter_additional_options {
	width: 73px;
	height: 106px;
	float: left;
	font-family: "Lucida Sans Unicode Regular";
	font-size: 9px;
	margin-top: 11px;
	padding: 4px 0 0 9px;
	border-left: 1px solid #bdc6ca;
	letter-spacing: 0.05em;
	line-height: 8px;
}

.rim_filter_additional_options span {
	font-size: 8px;
	color: #77858b;
}

.rim_filter_additional_options select {
	margin: 4px 0 8px 0;
	height: 17px;
	width: 58px;
}

.rim_filter input[type='submit'] {
	float: right;
	color: #154467;
	font-family: "Arial Italic";
	font-size: 14px;
	margin-right: 17px;
	border: none;
	background-color: #fff;
	text-decoration: underline;
	padding: 0;
	cursor: pointer;
	line-height: 10px;
}

.catalog_column {
	float:left;
}

.catalog_column>ul>li:first-child {
	width: 180px;
	height: 25px;
	border: 1px solid #8b979c;
	float: left;
	margin: 19px 0 13px 0;
	border-radius: 10px;
	box-shadow: 1px 2px 4px -1px #bfbfbf;
}

.catalog_column>ul>li:first-child>img {
	margin: 1px 2px 0 3px;
}

.catalog_column span {
	color: #114165;
	font-family: 'Lucida Sans Unicode Regular';
	font-size: 13px;
	letter-spacing: -.01em;
	vertical-align: 30%;
}

.catalog_column_chapter {
	width: 148px;
	height: 26px;
	border: 1px solid #8b979c;
	float: left;
	margin: 0 0 6px 2px;
	border-radius: 10px;
	clear: left;
}

.catalog_column_chapter>img {
	margin: 1px 2px 0 5px;
}

.catalog_column_chapter>span {
	color: #114165;
	font-family: 'Lucida Sans Unicode Regular';
	font-size: 13px;
	letter-spacing: .07em;
	vertical-align: 35%;
}

.catalog_column_item {
	float: left;
	margin: 0 0 15px 38px;
	clear: left;
	line-height: 10px;
}

.catalog_column_item:nth-child(6),
.catalog_column_item:nth-child(11),
.catalog_column_item:nth-child(16) {
	margin-bottom: 5px;
}

.catalog_column_item>.marker_small {
	border: 1px solid #79878d;
	box-shadow: 0 0 1px 1px #79878d inset;
	border-radius: 3px;
	height: 6px;
	width: 6px;
	margin-right: 2px;
	display: inline-block;
}

.catalog_column_item>a {
	color: #465961;
	text-decoration: none;
	letter-spacing: -.01em;
	font-family: 'Lucida Sans Unicode Regular';
	font-size: 13px;
}

.catalog_column_item:hover {
	margin-bottom: 11px;
}

.catalog_column_item:nth-child(6):hover,
.catalog_column_item:nth-child(11):hover,
.catalog_column_item:nth-child(16):hover {
	margin-bottom: 1px;
}

.catalog_column_item:hover>.marker_small {
	border: 1px solid #313a55;
	box-shadow: 0 0 2px 0 #313a55 inset;
}

.catalog_column_item:hover>a {
	color: #0c3256;
	letter-spacing: .04em;
	font-family: 'Arial Bold Italic';
	font-size: 14px;
	display: inline-block;
	padding-bottom: 2px;
	border-bottom: 2px solid #58697f;
}

.goods {
	background-image: url('../img/goods_background.png');
	height: 627px;
	width: 526px;
	float:left;
	margin: 12px 0 0 9px;
	padding-top: 15px;
}

.goods .goods_item {
	width: 33%;
	height: 33%;
	float: left;
}

.goods a {
	text-decoration: none;
	color: black;
}

.goods p {
	text-align: center;
	font-size: 13px;
}

.goods img {
	display: block;
	margin: 0 auto;
}

.goods .title {
	color: #206988;
	font-family: 'Lucida Sans Unicode Regular';
	font-size: 15px;
}

.goods .price {
	color: #114165;
	font-family: 'Arial Bold Italic';
	font-size: 16px;
}

.brand_column {
	float:right;
}

.brand_column>ul>li:first-child {
	width: 180px;
	height: 25px;
	border: 1px solid #8b979c;
	float: left;
	margin: 19px 0 13px 0;
	border-radius: 10px;
	box-shadow: 1px 2px 4px -1px #bfbfbf;
}

.brand_column>ul>li:first-child>img {
	margin: 1px 2px 0 3px;
}

.brand_column span {
	color: #114165;
	font-family: 'Lucida Sans Unicode Regular';
	font-size: 13px;
	letter-spacing: -.01em;
	vertical-align: 30%;
}

.brand_column_chapter {
	width: 134px;
	height: 26px;
	border: 1px solid #8b979c;
	float: left;
	margin: 0 0 4px 13px;
	border-radius: 10px;
	clear: left;
}

.brand_column_chapter>img {
	margin: 1px 2px 0 5px;
}

.brand_column_chapter>span {
	color: #114165;
	font-family: 'Lucida Sans Unicode Regular';
	font-size: 13px;
	letter-spacing: .07em;
	vertical-align: 35%;
}

.brand_column_item {
	float: left;
	margin: 0 0 5px 21px;
	clear: left;
	line-height: 10px;
		clear: both;

}

.brand_column_item:nth-child(5),
.brand_column_item:nth-child(9) {
	margin-bottom: 15px;
}

.brand_column_item>label {
	color: #465961;
	text-decoration: none;
	letter-spacing: -.01em;
	font-family: 'Lucida Sans Unicode Regular';
	font-size: 13px;
}

.brand_column_item:hover {
	margin-bottom: 3px;
}

.brand_column_item:nth-child(5):hover,
.brand_column_item:nth-child(9):hover {
	margin-bottom: 13px;
}

.brand_column_item:hover>label {
	color: #0c3256;
	display: inline-block;
	padding-bottom: 2px;
	border-bottom: 2px solid #58697f;
}

.brand_column input[type="submit"] {
	background-image: url('../img/choose_button.png');
	width: 83px;
	height: 30px;
	border: none;
	clear: both;
	display: block;
	margin-left: 20px;
}

.logo_list {
	margin-top: 24px;
}

.logo_list ul {
	width: 75%;
	display: block;
	margin: 0 auto;
}

.logo_list li {
	display: inline-block;
	margin-right: 8px;
}


footer .wrapper {
	background-color: #213a4d;
	height: 87px;
	padding-top: 13px;
}

footer ul {
	width: 50%;
	margin: 0 auto;
}

footer li {
	display: inline-block;
	border-right: 1px solid #fff;
	padding: 0 12px;
} 

footer li:last-child {
	border-right: none;
} 

footer a {
	color: #bec6c9;
	text-decoration: none;
	font-family: 'Arial Regular';
	font-size: 12px;
}

footer a:hover {
	color: #52abcb;
}

footer p {
	text-align: center;
	color: #7f4740;
	font-size: 10px;
	font-family: 'Arial Regular';
}