html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.wrapper {
  width: 965px;
  margin: 0 auto;
  text-align: center;
}
.item {
  display: inline-block;
  background: #f2f5f8;
  height: 346px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  vertical-align: top;
  position: relative;
  margin: 30px 6px 0;
  cursor: pointer;
  text-decoration: none;
}
.item:after {
  content: '';
  display: block;
  background: url("../img/shadow.png");
  width: 220px;
  height: 10px;
  position: absolute;
  bottom: -9px;
}
.item__photo {
  padding-bottom: 10px;
}
.item__desc-1,
.item__desc-2 {
  text-align: center;
  font-family: '';
  font-size: 18px;
  color: #2757b0;
}
.item__price {
  text-align: center;
  font-family: '';
  font-size: 22px;
  color: #000;
  font-weight: bold;
  position: absolute;
  bottom: 20px;
  left: 10px;
  right: 10px;
}
.item__currency {
  font-size: 18px;
}
