@import 'nib'
@import reset


textblock(font, size, color)
	text-align: center
	font-family: font
	font-size: size
	color: color

.wrapper
	width: 965px
	margin: 0 auto
	text-align: center

.item
	display: inline-block
	background: #f2f5f8
	height: 346px
	border-radius: 10px
	vertical-align: top
	position: relative
	margin: 30px 6px 0
	cursor: pointer
	text-decoration: none

	&:after
		content: ''
		display: block
		background: url('../img/shadow.png')
		width: 220px
		height: 10px
		position: absolute
		bottom: -9px

	&__photo 
		padding-bottom: 10px

	&__desc-1,
	&__desc-2
		textblock('', 18px, #2757b0)

	&__price
		textblock('', 22px, #000)
		font-weight: bold
		position: absolute
		bottom: 20px
		left: 10px
		right: 10px

	&__currency
		font-size: 18px