@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
	height: 100%;
	width: 100%;
}

header ul {
	background-color: #074c89;
	overflow: hidden;
	padding-right: 20px;
}

header ul li {
	float: right;
	font-family: 'Helvetica Neue Regular';
}

header ul li a,
header ul li:first-child {
	color: #60b5ed;
	text-decoration: none;
	font-size: 14px;
	display: block;
	padding: 10px 10px;
}

header ul li:first-child a {
	display: inline;
	padding: 0;
	color: #fff;
	text-decoration: underline;
}

header ul li:nth-child(2) a {
	color: #ffffff;
	font-size: 14px;
	border-left: 1px solid #4eabda;
}

header ul li img {
	height: 23px;
	float: left;
	margin-right: 10px;
}

header ul li a:hover,
header ul li:first-child:hover {
	color: #ffffff;
	background-color: #4eabda;
}

.background {
	background: url(../img/background.jpg) no-repeat center center;
	background-size: cover;
	height: 1028px;
	overflow: hidden;
}

.form_header {
	height: 3%;
	width: 35%;
	background-color: rgba(0, 0, 0, .63);
	margin: 100px auto 1px;
	padding: 20px 0 20px 0;
	font-size: 24px;
	color: #fff;
	text-align: center;
	font-family: 'Helvetica Neue Regular';
}

.register_container {
	background-color: rgba(0, 0, 0, .63);
	height: 50%;
	width: 35%;
	margin: 0 auto;
}

.fb_button {
	padding: 30px 0 35px 0;
	display: block;
	margin: 0 auto;
	border-bottom: 1px solid #666;
	width: 275px;
}

.register_container form {
	padding-top: 35px;
	border-top: 1px solid #000;
	width: 275px;
	margin: 0 auto;

}

input[type="text"],
input[type="email"],
input[type="password"],
.checkbox_holder,
input[type="image"] {
	display: block;
	margin: 8px auto;
	border: none;
	width: 255px;
	color: #ccc;
	font-size: 14px;
	font-family: 'Helvetica Neue Regular';
}

input[type="text"],
input[type="email"],
input[type="password"] {
	background-color: #0f0e0e;
	padding: 10px 0 10px 20px;
	border-bottom: 1px solid #484948;
}

input[type="image"] {
	width: 150px;
}

input[type="email"]:hover,
input[type="password"]:hover,
input[type="text"]:hover {
	background-color: #1b5288;
	box-shadow: 1px 1px 5px 2px #437a9f;
}

.register_container p {
	color: #ccc;
	width: 300px;
	margin: 0 auto;
	font-size: 11px;
	text-align: center;
	font-family: 'Helvetica Neue Regular';
}