@import 'mixins';

body>* {
	width: 320px;
	margin: 0 auto;
}

.ending {
	text-align: center;
	height: 569px;
	position: relative;
}

.ending_header {
	background: url(../img/header/header_background.png) 100% 100% ;
}

.ending__logo_header {
	display: inline-block;
	margin: 39px 0 140px;
}

.ending__slogan {
	@include font('ProximaNova Bold', 32px, #fff, uppercase);
	text-align: left;
}

.ending__slogan_header p:first-child {
	float: left;
	margin: -4px 27px 29px 8px;
}

.ending__slogan_header p:last-child {
	float: right;
	margin: -7px 0 0 67px;
}

.button {
	@include font('ProximaNova SemiBold', 8px, #fff, uppercase);
    text-align: left;
	border-radius: 20px;
	border: none;
	width: 142px;
	height: 39px;
    padding-left: 40px;
    background: #5e42b0 url(../img/spritesheet.png) 3px -3px no-repeat;
	cursor: pointer;
    transition: background-color 1000ms ease;
}

.button_header {
	margin: 113px 0 30px 0;
}

.button-google {
    background-position: 17px -51px;
    padding-left: 59px;
}

.button:hover {
	background-color: #5e42ff;
}

.links__item {
	display: inline;
	margin: 0 14px;
	line-height: 20px;
}

.links__link {
	@include font('ProximaNova Light', 12px, #9071ea, uppercase);
	text-decoration: none;
}

.article {
	padding-bottom: 25px;
	background: url(../img/background-grey.png) center bottom no-repeat;
	position: relative;
}

.article__header {
	@include font('ProximaNova Bold', 50px, #e7e7e7, uppercase);
	padding-left: 23px;
}

.article__image {
	margin: 10px auto 27px;
	display: block;
	padding: 0;
}

.section {
	line-height: 18px;
	letter-spacing: .04em;
	margin-left: 23px;
	padding-bottom: 15px;
}

.section_background_underline {
	background: url(../img/opportunities/underline.png) left bottom no-repeat;
}

.section__header {
	@include font('ProximaNova Bold', 28px, #c1c1c1, uppercase);
	display: inline-block;
}

.section__header_color {
	color: #e7e7e7;	
}

.section__text {
	@include font('ProximaNova Regular', 15px, #000, none);
	margin-top: 22px;
}

.count-number {
	@include font('ProximaNova Bold', 14px, #000, none);
	display: inline-block;
	font-weight: bold;
	background: url(../img/undeline.png) center bottom no-repeat;
	height: 18px;
	vertical-align: super;
}

.count-number_position_absolute {
	width: 70px;
	height: 70px;
	background: #5e42b0;
	position: absolute;
	text-align: center;
	top: 293px;
	left: 20px;
}

.count-number_position_absolute:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.article .switcher {
	position: absolute;
	left: 50%;
	top: 500px;
}

.switcher__container {
	position: relative;
	left: -50%;
	margin: 25px auto 0;
}

.switcher__item {
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: #999;
	margin-right: 5px;
	cursor: pointer;
}

.article .active {
	background-color: #5e42b0;
}

.article li:hover {
	box-shadow: 0 0 2px 0 #000;
}

.ending_footer {
	background: url(../img/footer/footer_background.png) 100% 100% ;
}

.ending__logo_footer {
	display: inline-block;
	margin: 97px 0 51px;
}

.ending__slogan_footer {
	text-align: center;
	display: block;
	margin: 0 auto;
	font-size: 34px;
}

.ending__slogan_footer p:last-child {
	color: #9b8ec1;
	font-size: 15px;
	line-height: 24px
}

.button_footer {
	margin: 65px 0 30px;
}

.social {
	background: url(../img/footer/social-background.png);
	position: absolute;
	bottom: 0;
	height: 48px;
	width: 100%;
}

.social__item {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: 10px 25px 0 0;
}

.social__item_facebook {
	background: url(../img/footer/spritesheet.png) -2px -6px no-repeat;
}

.social__item_twitter {
	background: url(../img/footer/spritesheet.png) -6px -79px no-repeat;
}

.social__item_instagram {
	background: url(../img/footer/spritesheet.png) -6px -43px no-repeat;
}