@import 'mixins';
@import 'font';

.questions-answers {
	background: url(../img/main-background.png) no-repeat;
	background-size: 100% 1095px;
	width: 100%;
	padding-top: 155px;
}

.questions-answers__header {
	margin: 0 auto;
	text-align: center;
}

.questions-answers__header p:first-child {
	@include font('Museo Sans Cyrillic 300', 22px, #000, none);
}

.questions-answers__header p:last-child {
	@include font('Code Pro Light', 45px, #000, none);
}

.questions-answers-part1 {
	width: 100%;
	height: 940px;
}

.questions-answers-part2 {
	width: 100%;
}

.questions-answers-part1__image {
	float: left;
}

.questions-answers-part2__image {
	padding: 10px;
	float: left;
}

.questions-answers-item {
	width: 45%;
	padding: 50px;
	display: inline-block;
	float: left;
}

.questions-answers-item__question {
	@include font('Museo Sans Cyrillic 500', 15px, #262626, none);
	margin-bottom: 20px;
}

.questions-answers-item__answer {
	@include font('Museo Sans Cyrillic 100', 15px, #262626, none);
}

.social {
	float: left;
	width: 45%;
	height: 20px;
	padding-left: 50px;
}

.social__link {
	display: inline-block;
	background: url(../img/social.png) no-repeat;
	width: 25px;
	height: 100%;
}

.social__link_fb {
	background-position: 10px 2px;
}

.social__link_vk {
	background-position: -25px 2px;
}

.social__link_gp {
	background-position: -60px 2px;
}

.carousel {
	width: 100%;
	margin-bottom: 100px;
}

.carousel__header {
	@include font('Playfair Display Italic', 33px, #262626, none);
	margin: 50px 0 0 180px;
}

.carousel__body {
	width: 100%;
	margin: 0 auto;
}

.carousel__item {
	text-align: center;
	@include font('Museo Sans Cyrillic 100', 12px, #000, none);
}

.carousel__item p {
	margin-bottom: 10px;
}

.carousel__item p:nth-child(2) {
	@include font('Museo Sans Cyrillic 900', 12px, #000, none);
}

footer {
	width: 100%;
	border-top: 1px solid #e5e5e5;
	height: 480px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex: column nowrap;
	justify-content: flex-end;
}

.feedback,
.news {
	width: 100%;
	display: inline-block;
	text-align: center;
	padding: 50px 30px 0;
	vertical-align: top;
}

.news {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	height: 100%;
}

.border {
	border: 1px solid #e5e5e5;
	display: inline-block;
	height: 274px;
	margin-top: 115px;
}

.feedback__header {
	@include font('Museo Sans Cyrillic 900', 13px, #262626, uppercase);
	margin-top: 100px;
}

.feedback__text {
	@include font('Museo Sans Cyrillic 100', 12px, #262626, none);
	margin: 5px 0 5px;
}

.feedback__copyright {
	@include font('Museo Sans Cyrillic 100', 13px, #9f9f9f, none);
	text-align: left;
	margin: 225px 0 30px;
}

.news__header {
	@include font('Playfair Display Italic', 33px, #262626, none);
	margin-top: 60px;
	/*align-self: flex-start;*/
	width: 160px;
}

.news__description {
	@include font('Museo Sans Cyrillic 300', 14px, #262626, none);
	width: 160px;
	margin-top: 40px;
	/*align-self: flex-start;*/
}

.news__image {
	float: right;
	margin-left: 39px;
	/*align-self: flex-start;*/
}

.subscribe {
	width: 317px;
	height: 63px;
	margin: 62px auto;
}

.subscribe__form {
	height: 100%;
	width: 100%;
	font-size: 0;
}

.subscribe__input {
	@include font('Museo Sans Cyrillic 100', 12px, #606060, none);
	height: 100%;
	width: 214px;
	border: 1px solid #d7d7d7;
	text-align: center;
}

.subscribe__button {
	@include font('Museo Sans Cyrillic 700', 12px, #302f2f, uppercase);
	height: 100%;
	width: 98px;
	background-color: #e8dadc;
}

.contacts {
	margin-top: 115px;
}

.contacts__item {
	@include font('Museo Sans Cyrillic 100', 14px, #606060, none);
	text-decoration: none;
	margin: 0 20px 30px 0;
}

.popup {
	display: none;
	width: 200px;
	height: 200px;
	position: fixed;
	top: 40%;
	right: 40%;
	border: 1px solid gray;
	box-shadow: 0 0 2px 1px gray inset;
	border-radius: 50%;
	text-align: center;
	background-color: pink;
}

.popup:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}