<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Homework13-14</title>
	<link rel="stylesheet" href="css/styles.css">
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js"></script>
	<script src="js/tmpl.js"></script>
</head>
<body>

	<script type="text/html" id="questionTemplate">
		<div class="question">
			<h4><%= question %></h4>
			<div><input id="check1" type="checkbox"><label for="check1"><%= answer1 %></label></div>
			<div><input id="check2" type="checkbox"><label for="check2"><%= answer2 %></label></div>
			<div><input id="check3" type="checkbox"><label for="check3"><%= answer3 %></label></div>
			<div><input id="check4" type="checkbox"><label for="check4"><%= answer4 %></label></div>
			<div><input id="check5" type="checkbox"><label for="check5"><%= answer5 %></label></div>
			<div><input id="check6" type="checkbox"><label for="check6"><%= answer6 %></label></div>
		</div>
	</script>
	<script type="text/html" id="resultsTemplate">
		<div class="results_item">
			<strong><%= question %></strong>
			<div><span><%= result %></span></div>
			<div><span>You have <%= yourCount %> of <%= correctCount %> correct answers</span></div>
		</div>
	</script>
	<script src="js/script.js"></script>
</body>
</html>
<!-- <p> -->