/* for account login/signup*/
.account {
	@include breakpoint(tablet) {
	   	float: right;
	   	margin-right: 50px;
	}

	@include breakpoint(desktop) {
		margin-right: 250px;
	}
}

.account__login {
	@include font('Montserrat Bold', 14px, #fefefe);
	text-decoration: none;
	display: inline-block;
	width: 90px;
	height: 36px;
}

.account__signup {
	@extend .account__login;
	border: 2px solid #fff;
	border-radius: 19px;
}

.account__login::after,
.account__signup::after {
	@include vertical_align;
}