.jcarousel {
	overflow: hidden;
	position: relative;
	width: 250px;
	height: 400px;
	display: inline-block;
}

.jcarousel ul {
	position: relative;
	width: 1000px;
}

.jcarousel__arrow-left {
	display: none;

	@include breakpoint(tablet) {
		background: url('../img/768/arrow-left.png') no-repeat;
		display: block;
		position: absolute;
		width: 32px;
		height: 55px;
		z-index: 2;
		top: 10%;
		left: 5%;
		cursor: pointer;
	}

	@include breakpoint(desktop) {
		top: 40%;
	}
}

.jcarousel__arrow-right {
	@extend .jcarousel__arrow-left;

	@include breakpoint(tablet) {
		background: url('../img/768/arrow-right.png') no-repeat;
		left: 82%;
	}

	
}

.jcarousel__item {
	position: relative;
	height: 250px;
	width: 250px;
	padding: 20px;
	text-align: left;

	@include breakpoint(tablet) {
		float: left;
		width: 25%;
		height: 400px;
	}
}

.jcarousel__textblock {
	position: absolute;
	bottom: 10%;
	
	@include breakpoint(tablet) {
		bottom: 5%;
		width: 85%;
	}
}

.jcarousel__image {
	position: absolute;
	z-index: -1;
	left: 3%;
	top: 0;
	
	@include breakpoint(tablet) {
		width: 235px;
	}
}

.jcarousel__step {
	@include font('Montserrat Regular', 10px, #ffffff);
	height: 20px;
	width: 70px;
	border-radius: 10px;
	background-color: #ff4e50;
	text-align: center;
	text-transform: uppercase;
}

.jcarousel__step::after {
	@include vertical-align;
}

.jcarousel__header {
	@include font('Montserrat Bold', 24px, #ffffff);
	padding-top: 20px;
}

.jcarousel__text {
	@include font('Roboto Light', 14px, #cccccc);
	padding-top: 20px;
}