.carousel__item {
	position: relative;
	height: 250px;
	padding: 20px;
	text-align: left;

	@include breakpoint(tablet) {
		float: left;
		width: 32%;
	}
}

.carousel__textblock {
	position: absolute;
	bottom: 10%;
	
	@include breakpoint(tablet) {
		bottom: 30%;
	}
}

.carousel__image {
	position: absolute;
	z-index: -1;
	left: 3%;
	top: 0;
	
	@include breakpoint(tablet) {
		width: 235px;
	}
}

.carousel__step {
	@include font('Montserrat Regular', 10px, #ffffff);
	height: 20px;
	width: 70px;
	border-radius: 10px;
	background-color: #ff4e50;
	text-align: center;
	text-transform: uppercase;
}

.carousel__step::after {
	@include vertical-align;
}

.carousel__header {
	@include font('Montserrat Bold', 24px, #ffffff);
	padding-top: 20px;
}

.carousel__text {
	@include font('Roboto Light', 14px, #cccccc);
	padding-top: 20px;
}