.grid {
	text-align: center;
	width: 100%;

	@include breakpoint(tablet) {
		width: 768px;
		margin: 0 auto;
	}

	@include breakpoint(desktop) {
		width: 960px;
	}
}

.grid__item {
	position: relative;
	height: 310px;
	width: 230px;
	margin-bottom: 10px;
	overflow: hidden;
	
	@include breakpoint(desktop) {
		width: 30%;
/*		margin: 0 auto;*/
	}
}

.grid__item::after {
	@include vertical-align;
}

.grid__item_width {
	@include breakpoint(tablet) {
		width: 460px;
	}
}

.grid__image {
	position: absolute;
	z-index: -1;
	left: 3%;
	width: 450px;
	height: auto;
}

.grid__text {
	@include font('Montserrat Bold', 22px, #fff);
	display: inline-block;
}