
.treeBox {
	width: 400px;
	height: 400px;
	float: left;
}

.save-results {
	display: none;
	width: 200px;
	margin: 0 auto;
}

.popup {
	position: fixed;
	white-space: pre-line;
	top: 50%;
	left: 40%;
	max-width: 100px;
	overflow: hidden;
	height: auto;
	display: none;
}
