
.treeBox {
	width: 400px;
	height: 400px;
	float: left;
}

.save-results {
	display: none;
	width: 200px;
	margin: 0 auto;
}

.previous-categories {
	display: none;
	float: left;
	width: 400px;
	height: 100px;
}

.previous-categories__list {
	display: block;
}