.button {
	@include font('ProximaNova SemiBold', 8px, #fff, uppercase);
	text-align: left;
	border-radius: 20px;
	border: none;
	width: 142px;
	height: 39px;
	background: #5e42b0 url(../img/spritesheet320.png) no-repeat;
	cursor: pointer;
	position: absolute;
	transition: background-color 1000ms ease;
	bottom: 96px;
	@include breakpoint(tablet) {
	@include font('ProximaNova SemiBold', 14px, #fff, uppercase);
		background: #5e42b0 url(../img/spritesheet768.png) no-repeat;
		border-radius: 38px;
		width: 311px;
		height: 77px;
	}
	&__google {
		background-position: 17px -51px;
		padding: 0 12px 0 52px;
		right: 16px;
		&_header {
			@include breakpoint(tablet) {
				background-position: -298px 19px;
				margin: 0;
				right: 58px;
				padding: 0 85px 0 126px;
			}
		}
		&_footer {
			bottom: 177px;
		}
	}
	&__apple {
		background-position: 3px -3px;
		padding-left: 40px;
		left: 15px;
		&_header {
			@include breakpoint(tablet) {
				background-position: 43px 19px;
				margin: 0;
				left: 58px;
				padding: 0 66px 0 105px;
			}
		}
		&_footer {
			bottom: 177px;
		}
	}
	&:hover {
		background-color: #5e42ff;
	}
}

.switcher {
	position: absolute;
	left: 50%;
	top: 522px;
	&__container {
		position: relative;
		left: -50%;
		margin: 25px auto 0;
	}
	&__item {
		display: inline-block;
		height: 10px;
		width: 10px;
		border-radius: 50%;
		background-color: #999;
		margin-right: 5px;
		cursor: pointer;
		&:hover {
			box-shadow: 0 0 2px 0 #000;
		}
		&_active {
			background-color: #5e42b0;
		}
	}
}

.links {
	padding-top: 196px;
	@include breakpoint(tablet) {
		padding-top: 162px;
	}
	&__item {
		display: inline;
		padding: 0 18px;
		line-height: 20px;
		@include breakpoint(tablet) {
			padding: 0 28px;
		}
	}
	&__link {
		@include font('ProximaNova Light', 12px, #9071ea, uppercase);
		text-decoration: none;
		@include breakpoint(tablet) {
			font-size: 16px;
		}
	}
}