.social {
	background: url(../img/footer/social-background.png);
	position: absolute;
	bottom: 0;
	height: 48px;
	width: 100%;
	padding: 3px 0 0 20px;
	@include breakpoint(tablet) {
		height: 67px;
		vertical-align: top;
	}
	&__item {
		display: inline-block;
		width: 25px;
		height: 25px;
		margin: 10px 25px 0 0;
		background-image: url('../img/socialsprite.svg');
		background-color: #ffffff;
	}
	&__item:hover {
		background-color: #11ff11;
	}
}