.uselessClass {
	background: url("../../../img/socialsprite.svg") no-repeat;
}

.social__item_facebook {
	background-position: 0 0;
}

.social__item_instagram {
	background-position: 50% 0;
}

.social__item_twitter {
	background-position: 100% 0;
}

