* {
    padding: 0;
    margin: 0;
    list-style: none;
}

html {
	background: url(../img/background.jpg) no-repeat center center fixed;
	background-size: 100% 100%;
	height: 100%;
}

body {
	height: inherit;
}

.wrapper {
	width: 82%;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 1px 0 10px 0 #a9a9a9, -1px 0 10px 0 #a9a9a9;
	position: relative;
	overflow: hidden;
}

header {
	float: left;
	width: calc(100% - 50px);
	height: 175px;
	padding: 5px 25px 0 25px;
	clear: both;
}

.logo {
	background: url(../img/LogoText.png) center no-repeat;
	float: left;
	height: 100%;
	width: 283px;
}

.contacts {
	float: right;
	color: #128aa7;
	margin-bottom: 30px;
}

.flags {
	float: right;
	clear: right;
}

.flag_list {
	float: right;
	font-size: 10px;
	margin-left: 15px;
}

.flag_list p {
	text-align: center;
	color: #128aa7;
}

.bigpicture {
	width: 100%;
	border-top: 1px solid #128aa7;
	border-bottom: 1px solid #128aa7;
	float: left;
}

.menu {
	background: linear-gradient(to top, #303030, #373737);
	border-top: 1px solid #cacbcb;
	border-bottom: 1px solid #000;
	clear: both;
/*	box-shadow: 0 0 5px 5px #555555;
	margin-bottom: 10px;*/
}

.hor_menu_item {
	display: inline-block;
	color: #fff;
	width: 13%;
	text-align: center;
	position: relative;
	font-size: 15px;
	padding: 4px 0 4px 0;
}

.hor_menu_item img {
	margin-left: 5px;
}

.drop_down_menu {
	display: none;
	position: absolute;
	left: 0;
	top: 26px;
	width: 100%;
	cursor: pointer;
	border-top: 1px solid #000;
	z-index: 100;
}

.drop_down_menu span {
	display: block;
	background-color: #303030;
	padding-bottom: 7px;
}

.hor_menu_item:hover .drop_down_menu,
.drop_down_menu:hover {
	display: block;
}

.left_column_wrapper,
.central_column_wrapper,
.right_column_wrapper {
	width: 100%;
	float: left;
	position: relative;
	box-shadow: 20px 10px 5px -5px #555555 inset;
}

.left_column_wrapper {
	background: #edeef0;
	right: 58%;
	border-right: 1px solid #c7cacf;
}

.central_column_wrapper {
	background: #fff;
	right: 21%;
	border-right: 1px solid #c7cacf;
}

.right_column_wrapper {
	background: #edeef0;
	overflow: hidden;
}

.left_column,
.central_column,
.right_column {
	float: left;
	position: relative;
	left: 79%;
	text-align: center;
	color: #424c43;
}

.left_column {
	width: 21%;
}

.central_column {
	width: 58%;
}

.right_column {
	width: 20%;
}

.left_links:first-child,
.central_column span,
.right_link_item:first-child {
	display: block;
	padding-top: 8px;
}

.left_link_item a,
.right_link_item a {
	text-decoration: none;
	color: #424c43;
}

.copyright {
	display: inline-block;
	width: 100%;
	margin-top: 5px;
	color: #fff;
	text-align: center;
}