* {
    padding: 0;
    margin: 0;
}

html, body {
	height: 100%;
}

.background1 {
	background-color: #128aa7;
	height: 2.35%;
	border-top: 1px solid #b5bac0;
	float: left;
	width: 100%;
}

.background2 {
	background: linear-gradient(to top, #ffffff, #5ef0ff);
	height: 14.3%;
	float: left;
	width: 100%;
}

.background3 {
	background: linear-gradient(to top, #0c739f, #40c6d3);
	height: 85.35%;
	float: left;
	width: 100%;
}

.wrapper {
	width: 82%;
	margin: 0 auto;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 10%;
	height: 100%
}

header {
	float: left;
	width: calc(100% - 50px);
	height: 175px;
	padding: 5px 25px 0 25px;
}

.logo {
	background: url(../img/LogoText.png) center no-repeat;
	float: left;
	height: 100%;
	width: 283px;
}

.contacts {
	float: right;
	color: #128aa7;
	margin-bottom: 30px;
}

.flags {
	/*border: 1px solid #000;*/
	float: right;
	clear: right;
}

.flag_list {
	float: right;
	list-style: none;
	font-size: 10px;
	margin-left: 15px;
}

.flag_list p {
	text-align: center;
	color: #128aa7;
}

.wrapper .bigpicture {
	width: 100%;
	height: auto;
	border-top: 1px solid #128aa7;
	border-bottom: 1px solid #128aa7;
}

.menu {
	background: #333333;
	border-top: 3px solid red;
	list-style: none;
}

.hor_menu_item {
	list-style: none;
	display: inline-block;
	color: #fff;
	margin-right: 100px;
}

.hor_menu_item:first-child {
	margin-left: 80px;
}