.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

@font-face {
  font-family: 'Museo Sans Cyrillic 100';
  src: url("../fonts/Museo Sans Cyrillic 100/museosanscyrl-webfont.eot");
  src: url("../fonts/Museo Sans Cyrillic 100/museosanscyrl-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo Sans Cyrillic 100/museosanscyrl-webfont.woff2") format("woff2"), url("../fonts/Museo Sans Cyrillic 100/museosanscyrl-webfont.woff") format("woff"), url("../fonts/Museo Sans Cyrillic 100/museosanscyrl-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrillic 300';
  src: url("../fonts/Museo Sans Cyrillic 300/museosanscyrl_0-webfont.eot");
  src: url("../fonts/Museo Sans Cyrillic 300/museosanscyrl_0-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo Sans Cyrillic 300/museosanscyrl_0-webfont.woff2") format("woff2"), url("../fonts/Museo Sans Cyrillic 300/museosanscyrl_0-webfont.woff") format("woff"), url("../fonts/Museo Sans Cyrillic 300/museosanscyrl_0-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrillic 500';
  src: url("../fonts/Museo Sans Cyrillic 500/museosanscyrl_1-webfont.eot");
  src: url("../fonts/Museo Sans Cyrillic 500/museosanscyrl_1-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo Sans Cyrillic 500/museosanscyrl_1-webfont.woff2") format("woff2"), url("../fonts/Museo Sans Cyrillic 500/museosanscyrl_1-webfont.woff") format("woff"), url("../fonts/Museo Sans Cyrillic 500/museosanscyrl_1-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrillic 700';
  src: url("../fonts/Museo Sans Cyrillic 700/museosanscyrl_2-webfont.eot");
  src: url("../fonts/Museo Sans Cyrillic 700/museosanscyrl_2-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo Sans Cyrillic 700/museosanscyrl_2-webfont.woff2") format("woff2"), url("../fonts/Museo Sans Cyrillic 700/museosanscyrl_2-webfont.woff") format("woff"), url("../fonts/Museo Sans Cyrillic 700/museosanscyrl_2-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrillic 900';
  src: url("../fonts/Museo Sans Cyrillic 900/museosanscyrl_3-webfont.eot");
  src: url("../fonts/Museo Sans Cyrillic 900/museosanscyrl_3-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo Sans Cyrillic 900/museosanscyrl_3-webfont.woff2") format("woff2"), url("../fonts/Museo Sans Cyrillic 900/museosanscyrl_3-webfont.woff") format("woff"), url("../fonts/Museo Sans Cyrillic 900/museosanscyrl_3-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Code Pro Light';
  src: url("../fonts/Code Pro Light/code_light-webfont.eot");
  src: url("../fonts/Code Pro Light/code_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Code Pro Light/code_light-webfont.woff2") format("woff2"), url("../fonts/Code Pro Light/code_light-webfont.woff") format("woff"), url("../fonts/Code Pro Light/code_light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display Italic';
  src: url("../fonts/Playfair Display Italic/playfairdisplay-italic-webfont.eot");
  src: url("../fonts/Playfair Display Italic/playfairdisplay-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Playfair Display Italic/playfairdisplay-italic-webfont.woff2") format("woff2"), url("../fonts/Playfair Display Italic/playfairdisplay-italic-webfont.woff") format("woff"), url("../fonts/Playfair Display Italic/playfairdisplay-italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.questions-answers {
  background: url("../img/main-background.png");
  background-size: 100% 1095px;
  height: 1094px;
  width: 100%;
  padding-top: 155px;
}

.questions-answers__header {
  margin: 0 auto;
  text-align: center;
}

.questions-answers__part1 {
  width: 100%;
  height: 1095px;
}

.questions-answers__part2 {
  width: 100%;
  height: 1095px;
  border: 1px solid #fff;
}

.questions-answers__header p:first-child {
  font-family: "Museo Sans Cyrillic 300";
  font-size: 22px;
  color: #000;
  text-transform: none;
}

.questions-answers__header p:last-child {
  font-family: "Code Pro Light";
  font-size: 45px;
  color: #000;
  text-transform: none;
}

.questions-answers__image {
  float: left;
  margin-right: 59px;
}

.questions-answers__image_mar-72 {
  margin: 72px 59px 0 152px;
}

.questions-answers__image_mar-129 {
  margin-top: 129px;
}

.questions-answers__image_mar-80 {
  margin: 80px 59px 0 235px;
}

.questions-answers-item {
  width: 85%;
}

.questions-answers-item_mar-110 {
  margin-top: 110px;
}

.questions-answers-item_mar-156 {
  margin-top: 156px;
}

.questions-answers-item_mar-40 {
  margin-top: 40px;
}

.questions-answers-item_mar-115 {
  margin-top: 115px;
}

.questions-answers-item_mar-140 {
  padding-left: 660px;
  margin-top: 140px;
  text-align: left;
}

.questions-answers-item_mar-270 {
  margin-top: 270px;
}

.questions-answers-item_mar-36 {
  margin-top: 36px;
}

.questions-answers-item__question {
  font-family: "Museo Sans Cyrillic 500";
  font-size: 15px;
  color: #262626;
  text-transform: none;
  margin-bottom: 20px;
}

.questions-answers-item__answer {
  font-family: "Museo Sans Cyrillic 100";
  font-size: 15px;
  color: #262626;
  text-transform: none;
}

.social {
  float: left;
  width: 200px;
  height: 20px;
  margin-top: 75px;
}

.social__link {
  display: inline-block;
  background: url("../img/social.png") no-repeat;
  width: 25px;
  height: 100%;
}

.social__link_fb {
  background-position: 10px 2px;
}

.social__link_vk {
  background-position: -25px 2px;
}

.social__link_gp {
  background-position: -60px 2px;
}