/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */

.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* display none until init */

.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
  float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}

.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */

.grabbing {
  cursor: url("grabbing.png") 8 8, move;
}

/* fix */

.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}
/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div {
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #869791;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
}

/* Clickable class fix problem with hover on touch devices */

/* Use it for non-touch hover action */

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
  text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

/* preloading images */

.owl-item.loading {
  min-height: 150px;
  background: url("AjaxLoader.gif") no-repeat center center;
}
.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

@font-face {
  font-family: 'Museo Sans Cyrillic 100';
  src: url("../fonts/Museo Sans Cyrillic 100/museosanscyrl-webfont.eot");
  src: url("../fonts/Museo Sans Cyrillic 100/museosanscyrl-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo Sans Cyrillic 100/museosanscyrl-webfont.woff2") format("woff2"), url("../fonts/Museo Sans Cyrillic 100/museosanscyrl-webfont.woff") format("woff"), url("../fonts/Museo Sans Cyrillic 100/museosanscyrl-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrillic 300';
  src: url("../fonts/Museo Sans Cyrillic 300/museosanscyrl_0-webfont.eot");
  src: url("../fonts/Museo Sans Cyrillic 300/museosanscyrl_0-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo Sans Cyrillic 300/museosanscyrl_0-webfont.woff2") format("woff2"), url("../fonts/Museo Sans Cyrillic 300/museosanscyrl_0-webfont.woff") format("woff"), url("../fonts/Museo Sans Cyrillic 300/museosanscyrl_0-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrillic 500';
  src: url("../fonts/Museo Sans Cyrillic 500/museosanscyrl_1-webfont.eot");
  src: url("../fonts/Museo Sans Cyrillic 500/museosanscyrl_1-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo Sans Cyrillic 500/museosanscyrl_1-webfont.woff2") format("woff2"), url("../fonts/Museo Sans Cyrillic 500/museosanscyrl_1-webfont.woff") format("woff"), url("../fonts/Museo Sans Cyrillic 500/museosanscyrl_1-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrillic 700';
  src: url("../fonts/Museo Sans Cyrillic 700/museosanscyrl_2-webfont.eot");
  src: url("../fonts/Museo Sans Cyrillic 700/museosanscyrl_2-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo Sans Cyrillic 700/museosanscyrl_2-webfont.woff2") format("woff2"), url("../fonts/Museo Sans Cyrillic 700/museosanscyrl_2-webfont.woff") format("woff"), url("../fonts/Museo Sans Cyrillic 700/museosanscyrl_2-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrillic 900';
  src: url("../fonts/Museo Sans Cyrillic 900/museosanscyrl_3-webfont.eot");
  src: url("../fonts/Museo Sans Cyrillic 900/museosanscyrl_3-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo Sans Cyrillic 900/museosanscyrl_3-webfont.woff2") format("woff2"), url("../fonts/Museo Sans Cyrillic 900/museosanscyrl_3-webfont.woff") format("woff"), url("../fonts/Museo Sans Cyrillic 900/museosanscyrl_3-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Code Pro Light';
  src: url("../fonts/Code Pro Light/code_light-webfont.eot");
  src: url("../fonts/Code Pro Light/code_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Code Pro Light/code_light-webfont.woff2") format("woff2"), url("../fonts/Code Pro Light/code_light-webfont.woff") format("woff"), url("../fonts/Code Pro Light/code_light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display Italic';
  src: url("../fonts/Playfair Display Italic/playfairdisplay-italic-webfont.eot");
  src: url("../fonts/Playfair Display Italic/playfairdisplay-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Playfair Display Italic/playfairdisplay-italic-webfont.woff2") format("woff2"), url("../fonts/Playfair Display Italic/playfairdisplay-italic-webfont.woff") format("woff"), url("../fonts/Playfair Display Italic/playfairdisplay-italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.questions-answers {
  background: url("../img/main-background.png") no-repeat;
  background-size: 100% 1095px;
  width: 100%;
  padding-top: 155px;
}

.questions-answers__header {
  margin: 0 auto;
  text-align: center;
}

.questions-answers__part1 {
  width: 100%;
  height: 940px;
}

.questions-answers__part2 {
  width: 100%;
  border: 1px solid #fff;
}

.questions-answers__header p:first-child {
  font-family: "Museo Sans Cyrillic 300";
  font-size: 22px;
  color: #000;
  text-transform: none;
}

.questions-answers__header p:last-child {
  font-family: "Code Pro Light";
  font-size: 45px;
  color: #000;
  text-transform: none;
}

.questions-answers__image {
  float: left;
  margin-right: 59px;
}

.questions-answers__image_mar-72 {
  margin: 72px 59px 0 152px;
}

.questions-answers__image_mar-129 {
  margin-top: 129px;
}

.questions-answers__image_mar-80 {
  margin: 80px 59px 0 235px;
}

.questions-answers-item {
  width: 85%;
}

.questions-answers-item_mar-110 {
  margin-top: 110px;
}

.questions-answers-item_mar-156 {
  margin-top: 156px;
}

.questions-answers-item_mar-40 {
  margin-top: 40px;
}

.questions-answers-item_mar-115 {
  margin-top: 115px;
}

.questions-answers-item_mar-140 {
  padding-left: 660px;
  margin-top: 140px;
  text-align: left;
}

.questions-answers-item_mar-270 {
  margin-top: 270px;
}

.questions-answers-item_mar-36 {
  margin-top: 36px;
}

.questions-answers-item__question {
  font-family: "Museo Sans Cyrillic 500";
  font-size: 15px;
  color: #262626;
  text-transform: none;
  margin-bottom: 20px;
}

.questions-answers-item__answer {
  font-family: "Museo Sans Cyrillic 100";
  font-size: 15px;
  color: #262626;
  text-transform: none;
}

.social {
  float: left;
  width: 200px;
  height: 20px;
  margin-top: 75px;
}

.social__link {
  display: inline-block;
  background: url("../img/social.png") no-repeat;
  width: 25px;
  height: 100%;
}

.social__link_fb {
  background-position: 10px 2px;
}

.social__link_vk {
  background-position: -25px 2px;
}

.social__link_gp {
  background-position: -60px 2px;
}

.carousel {
  width: 100%;
  margin-bottom: 100px;
}

.carousel__header {
  font-family: "Playfair Display Italic";
  font-size: 33px;
  color: #262626;
  text-transform: none;
  margin: 50px 0 0 180px;
}

.carousel__body {
  width: 50%;
  margin: 0 auto;
}

.carousel__item {
  text-align: center;
  font-family: "Museo Sans Cyrillic 100";
  font-size: 12px;
  color: #000;
  text-transform: none;
}

.carousel__item p {
  margin-bottom: 10px;
}

.carousel__item p:nth-child(2) {
  font-family: "Museo Sans Cyrillic 900";
  font-size: 12px;
  color: #000;
  text-transform: none;
}

footer {
  width: 100%;
  border-top: 1px solid #e5e5e5;
}

.feedback,
.news {
  width: 28%;
  display: inline-block;
  text-align: center;
  margin: 50px 30px 0;
  vertical-align: top;
}

.border {
  border: 1px solid #e5e5e5;
  display: inline-block;
  height: 274px;
  margin-top: 115px;
}

.feedback__header {
  font-family: "Museo Sans Cyrillic 900";
  font-size: 13px;
  color: #262626;
  text-transform: uppercase;
  margin-top: 100px;
}

.feedback__text {
  font-family: "Museo Sans Cyrillic 100";
  font-size: 12px;
  color: #262626;
  text-transform: none;
  margin: 5px 0 5px;
}

.feedback__copyright {
  font-family: "Museo Sans Cyrillic 100";
  font-size: 13px;
  color: #9f9f9f;
  text-transform: none;
  text-align: left;
  margin: 225px 0 10px;
}

.news__header {
  font-family: "Playfair Display Italic";
  font-size: 33px;
  color: #262626;
  text-transform: none;
  margin-top: 60px;
}

.news__description {
  font-family: "Museo Sans Cyrillic 300";
  font-size: 14px;
  color: #262626;
  text-transform: none;
  margin-top: 40px;
}

.news__image {
  float: right;
  margin-left: 39px;
}

.subscribe {
  width: 317px;
  height: 63px;
  margin: 62px auto;
}

.subscribe__form {
  height: 100%;
  width: 100%;
  font-size: 0;
}

.subscribe__input {
  font-family: "Museo Sans Cyrillic 100";
  font-size: 12px;
  color: #606060;
  text-transform: none;
  height: 100%;
  width: 214px;
  border: 1px solid #d7d7d7;
  text-align: center;
}

.subscribe__button {
  font-family: "Museo Sans Cyrillic 700";
  font-size: 12px;
  color: #302f2f;
  text-transform: uppercase;
  height: 100%;
  width: 98px;
  background-color: #e8dadc;
}

.contacts {
  margin-top: 115px;
}

.contacts__item {
  font-family: "Museo Sans Cyrillic 100";
  font-size: 14px;
  color: #606060;
  text-transform: none;
  text-decoration: none;
  margin: 0 20px 20px 0;
}