body {
	height: 100%;
	width: 100%;
}

.wrapper {
	width: 480px;
	margin: 0 auto;
}

.heading {
	color: #135983;
	text-transform: uppercase;
}

h2 {
	font-size:  20px;
	text-align: center;
}

header {
	width: 100%;
}

header img {
	margin: 0 auto;
	display: block;
}

nav {
	position: relative;
	width: 50%;
	height: 40px;
	border-radius: 10px;
	box-shadow: 0 0 5px 0 #08f inset;
	margin: 10px auto;
	padding-top: 5%;
	cursor: pointer;
}

.nav_active {
	box-shadow: 0 5px 5px 0 #08f inset;
}

nav ul {
	text-align: center;
	position: absolute;
	left: 35px;
	top: 50px;
	width: 100%;
	display: none;
	background-color: #fff;
	border-radius: 10px;
	padding-bottom: 8px;
	box-shadow: 0 -5px 5px 0 #08f inset;
}

.ul_active {
	left: 0;
	z-index: 2;
	display: block;
}

nav a {
	text-decoration: none;
	color: #135983;
	display: block;
	border-bottom: 2px dotted #0f7;
	padding: 10px 0;
}

nav li:last-child a {
	border-bottom: none;
}

.key_solutions {
	position: relative;
	height: 350px;
}

.key_solutions_hidden {
	opacity: 0.2;
}

.key_solutions a {
	position: absolute;
	overflow: hidden;
	transform: rotate(45deg);
	width: 100px;
	height: 100px;
}

.key_solutions a:nth-child(2) {
	top: 15%;
	left: 40%;
}

.key_solutions a:nth-child(3) {
	top: 35%;
	left: 55%;
}

.key_solutions a:nth-child(4) {
	top: 35%;
	left: 25%;
}

.key_solutions a:nth-child(5) {
	top: 55%;
	left: 40%;
}

.key_solutions a:before {
	content: "";
	position: absolute;
	width: 200%;
	height: 200%;
	top: -50%;
	left: -18%;
	z-index: -1;
	transform: rotate(-45deg);
}

.key_solutions a:nth-child(2):before {
	background: url("../img/solutions/js-icon.png") 0 0 repeat;
}

.key_solutions a:nth-child(3):before {
	background: url("../img/solutions/ecommerce-icon.png") 0 0 repeat;
}

.key_solutions a:nth-child(4):before {
	background: url("../img/solutions/b2b-icon.png") 0 0 repeat;
}

.key_solutions a:nth-child(5):before {
	background: url("../img/solutions/webapps-icon.png") 0 0 repeat;
}

.expertise  {
	padding-bottom: 30px;
}

.expertise h2 {
	padding-bottom: 10px;
}

.expertise .expertise_name {
	display: inline-block;
	text-align: center;
	padding: 20px 0;
	height: 20px;
	width: 45%;
	border: 1px solid #000;
	border-radius: 10px;
}

.expertise .expertise_list {
	opacity: 0;
	float: right;
	width: 45%;
	margin-top: 10px;
}

.clients h2 {
	margin-bottom: 30px;
}

footer h2 {
	padding-bottom: 20px;
}

footer .social {
	margin: 0 auto;	
	transform: rotate(-45deg);
	width: 45px;
	height: 45px;
}

footer .fb {
	background: url("../img/social/fb-icon.png") no-repeat;
	background-color: #999;
	width: 45px;
	height: 45px;
	margin-left: 45%;
	display: block;
	transition: all 1s;

}

footer .vk {
	background: url("../img/social/vk-icon.png") no-repeat;
	background-color: #999;
	width: 35px;
	height: 35px;
	margin-left: 40%;
	display: inline-block;
	transition: all 1s;

}

footer .tw {
	background: url("../img/social/twitter-icon.png") no-repeat;
	background-color: #999;
	width: 35px;
	height: 35px;
	margin-left: 4%;
	display: inline-block;
	transition: all 1s;
}

footer .fb:hover,
footer .vk:hover,
footer .tw:hover {
	background-color: #099;
}

footer p {
	text-align: center;
	color: #999;
	margin-top: 5px;
}

footer a {
	text-decoration: none;
	color: #000;
}