<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Homework13-14</title>
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-1.23.0.css">
</head>
<body>
	<div id="qunit"></div>
	<div id="qunit-fixture"></div>
	<div class="wrapper"></div>
	<div class="btn_wrapper">
		<button id="prev">Previous question</button>
		<button id="save">Save answer</button>
		<button id="next">Next question</button>
		<button id="complete">Complete test</button>
	</div>
		<script type="text/html" id="questionTemplate">
			<div class="question">
				<h4><%= question %></h4>
				<div><input class="question__item" id="check1" type="checkbox"><label class="question__text" for="check1"><%= answer1 %></label></div>
				<div><input class="question__item" id="check2" type="checkbox"><label class="question__text" for="check2"><%= answer2 %></label></div>
				<div><input class="question__item" id="check3" type="checkbox"><label class="question__text" for="check3"><%= answer3 %></label></div>
				<div><input class="question__item" id="check4" type="checkbox"><label class="question__text" for="check4"><%= answer4 %></label></div>
				<div><input class="question__item" id="check5" type="checkbox"><label class="question__text" for="check5"><%= answer5 %></label></div>
				<div><input class="question__item" id="check6" type="checkbox"><label class="question__text" for="check6"><%= answer6 %></label></div>
			</div>
		</script>
		<script type="text/html" id="resultsTemplate">
			<div class="results_item">
				<strong><%= question %></strong>
				<div><span><%= result %></span></div>
				<div><span>You have <%= yourCount %> of <%= correctCount %> correct answers</span></div>
			</div>
		</script>
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js"></script>
	<script src="https://code.jquery.com/qunit/qunit-1.23.0.js"></script>
	<script src="js/questions.js"></script>
	<script src="js/tmpl.js"></script>
	<script src="js/script.js"></script>
	<script src="js/tests.js"></script>
</body>
</html>