.body {
	text-align: center;
}

.textblock_general{
	text-align: left;
	margin: 0 auto ;
	width: 450px;
}
	ul {
		margin-bottom: 0px;
	}

.textblock1 {
	border-top: 2px solid gray;
	padding-top: 20px;
	padding-bottom: 20px;
}
