* {
	margin: 0;
	padding: 0;
}

.background {
	width: 1366px;
	height: 950px;
	background-color: #f9f9f9;
}
.container {
	width: 1060px;
	height: inherit;
	margin: 0 auto;
	background-color: #ffffff;
	padding: 50px 45px 60px 45px;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}
/*HEADER*/
.header {
	margin-top: 35px;
	background: linear-gradient(to bottom, #5e5e5e, #444343);
}

.header ul {
	font-size: 0;
}

.header .header_list {
	display: inline-block;
	color: white;
	font-size: 15px;
	margin-left: 1px;
	margin-right: 1px;

}

.header .header_list:hover {
	background: linear-gradient(to bottom, #4a4a4a, #2e2e2e);
	margin-left: 0px;
	margin-right: 0px;
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;

}

.header_list:nth-child(1) {
	padding: 15px 50px 15px 20px;
}

.header_list:nth-child(2) {
	padding: 15px 20px 15px 20px;
}

.header_list:nth-child(3) {
	padding: 15px 50px 15px 50px;
}

.header_list:nth-child(4) {
	padding: 15px 20px 15px 20px;
}

/*BODY*/

.main_field {
	margin-bottom: 100px;
}

.sidebar {
	display: inline-block;
	margin-top: 40px;
}

.sidebar ul {
	list-style-type: none;
}

.sidebar_item {
	width: 215px;
	height: 13px;
	border: 1px solid #838383;
	border-bottom: none;
	padding: 12px 0 15px 25px;
}

.sidebar_item:last-child {
	border-bottom: 1px solid #838383;
}

.sidebar_item:hover {
	width: 200px;
	padding: 12px 0 15px 40px;
	background-color: #f9f9f9;
	font-weight: bold;
}

.product {
	margin-top: 40px;
	display: inline-block;
	float: right;
	width: 760px;
}

.photo_wrapper {
	display: inline-block;
	width: 760px;
	height: 400px;
	border: 1px	solid #838383;
	background: url(../img/product1.jpg) center no-repeat;
}

.description {
	margin: 40px 20px 0 20px;
}

/*FOOTER*/

 .footer {
	background: #e1e1e1;
	margin-top: 500px;
}
.footer_list {
	display: inline-block;
	color: #838383;
	font-size: 15px;
}

.footer_list:hover {
  text-decoration: underline;
}

.footer_list:nth-child(1) {
	padding: 15px 50px 15px 20px;
}

.footer_list:nth-child(2) {
	padding: 15px 20px 15px 20px;
}

.footer_list:nth-child(3) {
	padding: 15px 50px 15px 50px;
}

.footer_list:nth-child(4) {
	padding: 15px 20px 15px 20px;
}

.copyright {
	padding: 15px 20px 15px 20px;
	float: right;
	display: inline-block;
	color: #838383;
	font-size: 15px;
}