.article {
	position: relative;
	&_opportunity {
		height: 553px;
		&:hover {
			.article__count-number_square {
				left: 200px; 
				border-radius: 50%;
				animation: counter 2s linear;
			}
		}
	}
	&_advantage {
		background: url(../img/background-grey.png) center bottom no-repeat;
		height: 587px;
		padding-top: 13px;
		@include breakpoint(tablet) {
			height: 793px;
		}
	}
	&__header {
		@include font('ProximaNova Bold', 50px, #e7e7e7, uppercase);
		padding-left: 23px;
		@include breakpoint(tablet) {
			font-size: 90px;
			padding: 60px 0 22px 17px;
			display: inline-block;
		}
	}
	&__image {
		margin: 10px auto 34px;
		display: block;
		padding: 0;
		@include breakpoint(tablet) {
			float: left;
			padding-top: 73px;
		}
	}
	&__count-number {
		@include font('ProximaNova Bold', 14px, #000, none);
		font-weight: bold;
		vertical-align: super;
		@include breakpoint(tablet) {
			font-size: 18px;
		}
		&_square {
			width: 70px;
			height: 70px;
			background: #5e42b0;
			position: absolute;
			text-align: center;
			top: 292px;
			left: 20px;
			&:before {
				content: "";
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
		}
		&_inline {
			display: inline-block;
			background: url(../img/opportunities/underline.png) left bottom no-repeat;
			height: 20px;
			@include breakpoint(tablet) {
				height: 26px;
				vertical-align: top;
			}
		}
	}
}

.section {
	line-height: 18px;
	letter-spacing: .04em;
	padding: 0 0 15px 19px;
	@include breakpoint(tablet) {
		width: 460px;
		display: inline-block;
		padding-left: 17px;
	}
	&_white {
		height: 170px;
		padding-top: 17px;
	}
	&_gray {
		height: 235px;
		padding-top: 37px;
		background-color: #f5f4f9;
	}
	&_violet {
		height: 205px;
		background-color: #5e42b0;
		padding-top: 37px;
	}
	&_background_underline {
		background: url(../img/opportunities/underline.png) left bottom no-repeat;
	}
	&__header {
		@include font('ProximaNova Bold', 28px, #c1c1c1, uppercase);
		display: inline-block;
		padding-left: 7px;
		@include breakpoint(tablet) {
			font-size: 36px;
			padding-top: 7px;
		}
		&_color {
			color: #e7e7e7;	
		}
	}
	&__text {
		@include font('ProximaNova Regular', 15px, #000, none);
		margin-top: 22px;
		@include breakpoint(tablet) {
			font-size: 18px;
			line-height: 28px;
		}
	}
}