.ending {
	text-align: center;
	height: 569px;
	position: relative;
	@include breakpoint(tablet) {
		height: 957px;
	}
	&_header {
		background: url(../img/header/header_background.png) 100% 100% ;
		@include breakpoint(tablet) {
			background: url(../img/header/header_background768.jpg) 100% 100% ;
		}
	}
	&_footer {
		background: url(../img/footer/footer_background320.png) 100% 100% ;
		@include breakpoint(tablet) {
			background: url(../img/footer/footer_background768.png) 100% 100% ;
			overflow: hidden;	
		}
	}
	&__logo {
		display: block;
		&-slogan {
			display: none;
			@include breakpoint(tablet) {
				@include font('ProximaNova Light', 14px, #fff, uppercase);
				padding: 63px 39px 190px 0;
				display: block;
				float: right;
			}
		}
		&_header320 {
			padding: 39px 0 136px;
			@include breakpoint(tablet) {
				display: none;
			}
		}
		&_header768 {
			display: none;
			@include breakpoint(tablet) {
				display: block;
				float: left;
				padding: 52px 0 182px 19px;
			}
		}
		&_footer320 {
			padding: 39px 0 136px;
			@include breakpoint(tablet) {
				display: none;
			}
		}
		&_footer768 {
			display: none;
			@include breakpoint(tablet) {
				display: block;
				margin: 128px auto 0;	
			}
		}
	}
	&__slogan {
		@include font('ProximaNova Bold', 32px, #fff, uppercase);
		@include breakpoint(tablet) {
			line-height: 76px;
			font-size: 64px;
		}
		&_header p:first-child {
			text-align: right;
			float: left;
			padding: 0 0 16px 9px;
			@include breakpoint(tablet) {
				padding: 0 0 3px 0;
				width: 528px;
			}
		}
		&_header p:last-child {
			text-align: left;
			float: right;
			padding-left: 65px;
			@include breakpoint(tablet) {
				padding: 0;
				width: 574px;
			}
		}
		&_footer {
			text-align: center;
			display: block;
			margin: 0 auto;
			font-size: 34px;
			@include breakpoint(tablet) {
				padding-top: 74px;
				font-size: 80px;
			}
		}
		&_footer p:last-child {
			color: #9b8ec1;
			font-size: 15px;
			line-height: 24px;
			@include breakpoint(tablet) {
				color: #a496ca;
				font-size: 36px;
				padding-top: 20px;
			}
		}
	}
}