.slider_hider {
	width: 850px;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 10px;
}

.slider {
	width: 999999px;
	position: relative;
}

.slider_element {
	margin-right: 50px;
	float: left;
	padding-left: 0;
}

.slider img {
	max-width: 400px;
}

.template {
	clear: both;
	width: 400px;
	border: 1px solid #000;
	overflow: hidden;
	margin-top: 20px;
}